# Python Class 3

## Lists

In [11]:
students = ['ali', 'hamza', 'asad']

In [2]:
newList = [1, 'hello', True]

In [5]:
students[1]

'hamza'

In [9]:
del students[1]
students

['ali', 'asad']

In [12]:
students.remove('asad')
students

['ali', 'hamza']

In [13]:
students[1] = 'saqib'
students

['ali', 'saqib']

In [14]:
city = []

In [15]:
city.append('karachi')
city

['karachi']

In [16]:
city.append('lahore')
city

['karachi', 'lahore']

In [17]:
city.insert(1, 'multan') # at particular index
city

['karachi', 'multan', 'lahore']

In [18]:
city.insert(20, 'quetta')
city

['karachi', 'multan', 'lahore', 'quetta']

In [20]:
city.index('quetta') # check index

3

In [21]:
city.clear()
city

[]

In [22]:
number = [60,1,2,55,32,98,12,43,23]
number

[60, 1, 2, 55, 32, 98, 12, 43, 23]

In [23]:
number.sort()
number

[1, 2, 12, 23, 32, 43, 55, 60, 98]

In [24]:
number.sort(reverse = True)
number

[98, 60, 55, 43, 32, 23, 12, 2, 1]

In [25]:
characters = ['abc', 'efg', 'eda']
characters.sort()
characters

['abc', 'eda', 'efg']

In [26]:
characters.sort(reverse=True)
characters

['efg', 'eda', 'abc']

In [35]:
students

['ali', 'saqib']

In [36]:
students.reverse()
students

['saqib', 'ali']

In [37]:
number

[98, 60, 55, 43, 32, 23, 12, 2, 1]

In [39]:
a = number.copy() # make copy of array (1st method)
a

[98, 60, 55, 43, 32, 23, 12, 2, 1]

In [40]:
a.append(500)
a

[98, 60, 55, 43, 32, 23, 12, 2, 1, 500]

In [41]:
number

[98, 60, 55, 43, 32, 23, 12, 2, 1]

In [42]:
c = number[:] # make copy of array (2nd Method)
c

[98, 60, 55, 43, 32, 23, 12, 2, 1]

## List into list

In [47]:
listOne = [1, 2, 3, ['karachi', 'lahore', 'quetta'], students]
listOne

[1, 2, 3, ['karachi', 'lahore', 'quetta'], ['saqib', 'ali']]

In [48]:
listOne[3][2]

'quetta'

In [49]:
listOne[4][1]

'ali'

In [51]:
listOne[4].insert(1, 'hamza')

In [52]:
listOne

[1, 2, 3, ['karachi', 'lahore', 'quetta'], ['saqib', 'hamza', 'ali']]

In [53]:
listOne[4].remove('hamza')
listOne

[1, 2, 3, ['karachi', 'lahore', 'quetta'], ['saqib', 'ali']]

In [54]:
2 in listOne

True

In [56]:
'hamza' in listOne[4]

False

## Slicing

In [57]:
listTwo = ['hamza', 'ali', 'noman', 'ahad', 'osama']
#index        0       1       2        3       4
listTwo

['hamza', 'ali', 'noman', 'ahad', 'osama']

In [59]:
sliced = listTwo[2:4]
sliced

['noman', 'ahad']

In [61]:
sliced = listTwo[1:]
sliced

['ali', 'noman', 'ahad', 'osama']

In [62]:
sliced = listTwo[:3]
sliced

['hamza', 'ali', 'noman']

In [63]:
sliced = listTwo[:]
sliced

['hamza', 'ali', 'noman', 'ahad', 'osama']

## negative indexing

In [64]:
fruits = ['apple', 'orange', 'banana', 'khajoor', 'peach']
#index      -5        -4        -3         -2        -1

#index       0        1         2          3         4

fruits

['apple', 'orange', 'banana', 'khajoor', 'peach']

In [65]:
fruits[-1]

'peach'

In [66]:
fruits[-4]

'orange'

In [68]:
fruits[-2 :]

['khajoor', 'peach']

In [69]:
fruits[-5:2]

['apple', 'orange']

## List Popping

In [1]:
cars = ['bmw', 'mercedes', 'toyota', 'suzuki']
a = cars.pop(1)
print(a)
print(cars)

mercedes
['bmw', 'toyota', 'suzuki']

Assignment:
make 2 lists
take input and make tasks list
make performed task list