# Python Class 4

## Tupple

In [16]:
myTupple = ("Asad", 12, 13)

In [17]:
myTupple[1]

12

In [18]:
myTupple[0] = "Ali" #Immutable

TypeError: 'tuple' object does not support item assignment

In [19]:
city1 = ("khi", "lhr") # packing

In [20]:
city2 = ("isb", "quetta") # packing

In [21]:
cities = city1 + city2

In [22]:
print(cities)

('khi', 'lhr', 'isb', 'quetta')

In [23]:
cities.count("khi")

1

In [24]:
cities.index('lhr')

1

In [27]:
cities.index('khi')

0

In [29]:
a,b,c,d = cities # unoacking

In [30]:
print(a,b,c,d)

khi lhr isb quetta

## For loops

In [32]:
for i in range(10):
    print(i, "Hello Pakistan")

0 Hello Pakistan
1 Hello Pakistan
2 Hello Pakistan
3 Hello Pakistan
4 Hello Pakistan
5 Hello Pakistan
6 Hello Pakistan
7 Hello Pakistan
8 Hello Pakistan
9 Hello Pakistan

In [40]:
#           start,  end, steps 
for i in range(2,   10,   2):
    print(i, end=" ")

2 4 6 8

In [45]:
for i in range(10,0,-1):
    print(i, end=" ")

10 9 8 7 6 5 4 3 2 1

In [48]:
nums = [1,2,3,4,5,6,7,10]
for num in nums:
    print(num)

1
2
3
4
5
6
7
10

In [52]:
for chars in "Pakistan Zindabad":
    print(chars, end="  ")

P  a  k  i  s  t  a  n     Z  i  n  d  a  b  a  d

In [59]:
for a in range(1,10):
    if a == 4:
        continue # skip and continue
    print(a)

1
2
3
5
6
7
8
9

In [60]:
for a in range(1,10):
    if a == 5:
        break
    print(a)

1
2
3
4

In [67]:
friends = ['anas', 'hasan', 'daniyal', 'osama']
for friend in friends:
    if friend != 'daniyal':
        print(f'Welcome to party {friend}')
    else:
        print(f'Party is over {friend}')
        continue

Welcome to party anas
Welcome to party hasan
Party is over daniyal
Welcome to party osama

## Nested for loop

In [69]:
fnames = ['fakhar', 'shahid', 'shoaib']
lnames = ['zaman', 'afridi', 'malik']

for fname in fnames:
    for lname in lnames:
        print(fname,lname)

fakhar zaman
fakhar afridi
fakhar malik
shahid zaman
shahid afridi
shahid malik
shoaib zaman
shoaib afridi
shoaib malik

In [71]:
tableNo = int(input('Enter Number for table: '))
for i in range (1,11):
    print(f"{tableNo} x {i} = {tableNo * i}")

Enter Number for table: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [84]:
for table in range(2,11):
    print('------------------')
    print(f'TABLE OF {table}')
    print('------------------')
    for num in range(1,11):
        print(f"{table} x {num} = {table * num}")

------------------
TABLE OF 2
------------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
------------------
TABLE OF 3
------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
------------------
TABLE OF 4
------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
------------------
TABLE OF 5
------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
------------------
TABLE OF 6
------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
------------------
TABLE OF 7
------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
------------------
TABLE OF 8
------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
------------------
TABLE OF 9
------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
------------------
TABLE OF 10
------------------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

## Dictionaries

In [86]:
dic = {"name":"Huzaifa", "age":21}
dic

{'name': 'Huzaifa', 'age': 21}

In [87]:
dic['name']

'Huzaifa'

In [90]:
dic['age']

21

In [93]:
dic2 = {'name':'huzaifa', 'age':21, 'gender':'male'}
for key in dic2.keys():
    print(key)

name
age
gender

In [94]:
for values in dic2.values():
    print(values)

huzaifa
21
male

In [95]:
for key,values in dic2.items():
    print(key,values)

name huzaifa
age 21
gender male

In [96]:
dic2['name'] = 'ali'

In [97]:
dic2

{'name': 'ali', 'age': 21, 'gender': 'male'}